body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);

}
.leftSection {
  
    font-size: 3rem;
}

.rightSection img {
  width :80%;
 
}
.purple{
    color: rgb(173, 111, 231) ;
}
#element {
    color: rgb(173, 111, 231) ;
}

.secondSection{
    margin: auto;
    width : 30vw;}
    .secondSection  hr{
        color: rgb(55, 43, 66);
        border-color: rgb(149, 168, 202);
        height: .9px;
        background-color: rgb(149, 168, 202);
        margin :30px;
      
    }
    .secondSection h1{
        font-style: oblique;
        display: flex;
        justify-content: center;
    }
